
*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #92a3f0, #020824)
}

#calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #FFFFFF;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
}

#calculator > button:hover {
    background: #a9a9a9;
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand, .display .current-operand{
    color: rbga(255, 255, 255, 0.7);
    font-size: 1.5rem;
}

